.color_celeste {
  background: rgb(94, 143, 239);
}
.color_fondo {
  background: rgb(234, 238, 253);
}
body{
    background: rgb(234, 238, 253);
}
.color_btn {
  background: rgb(91, 227, 236);
}
.color_btn_1 {
    background: rgb(29, 46, 105);
  }

.texto_menu {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}
.texto_footer {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 15px;
}
.texto_img_1 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}
.text_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.titulo_img_1 {
  position: absolute;
  top: 2%;
  left: 8%;
  font-family: Lobster;
  font-size: calc(2em + 5.5vw);
  color: rgb(107, 143, 255);
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);

}
.titulo_1 {
  font-family: Lobster;
  font-size: calc(3em + 3vw);
  color: rgb(107, 143, 255);
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);

}

.btn_agenda {
  align-items: center;
  border-radius: 20px;
  font-size: calc(1em + 2vw);
}
.texto_btn_agenda {
    font-family: Lobster;
  font-weight: bold;
}
.btn_navegacion {
  width: calc(10em + 10vw);
  height: calc(1em + 30vh);
  background: rgb(51, 104, 205);
  box-shadow: rgb(50, 104, 205) 8px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
}
.form_contacto {
  margin-bottom: 3%;
}
.texto_nosotros {
  color: #1d2e69;
  font-family: Lobster;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}
.btn_esp{
    width: 170px;
}
.menu_ini{
    text-align: center;
}

.menu_link:hover{
    text-decoration: none;
    background: rgb(127, 165, 243);
}
.img_esp{
    width: calc(18em + 10vw);
    height: calc(1em + 30vh);
}
.img_pla{
    width: calc(15em + 10vw);
    height: calc(5em + 30vh);
}

