{% extends "layout.html"%}

{% block body %}

<div class="row">
    <div class="container row pt-4">
        <div class="col-md-4">
            {% with messages = get_flashed_messages()%}
            {% if messages%}
            {% for message in messages%}

            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <h2 class="font-weight-bold ">
                Agregar nueva especialidad
            </h2>
            <div class="card card-body">
                <form action="/add_esp" method="POST">
                    <div class="form-group">
                        <input type="text" name="especialidad" placeholder="Nombre nueva especialidad"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                    <tr>
                        <td>Especialidad</td>
                    </tr>
                </thead>
                <tbody>
                    {%for especialidad in especialidades%}
                    <tr>
                        <td>{{especialidad.1}}</td>
                        <td>
                            <a class="btn btn-danger btn-sm btn-delete"
                                href="/delete_esp/{{especialidad.0}}">Eliminar</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container row pt-4">
        <div class="col-md-4">
            
            <h2 class="font-weight-bold ">
                Agregar nuevo medico
            </h2>
            <div class="card card-body">
                <form action="/add_med" method="POST">
                    
                    <div class="form-group">
                        <input type="text" name="medico_med" placeholder="Nombre del medico"
                            class="form-control">
                    </div>
                    <div class="form-group  ">
                        <select class="form-control" name="esp_med" placeholder="Seleccionar la especialidad">
                            {%for especialidad in especialidades%}
                            <option>{{especialidad.1}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                    <tr>
                        <td>Medico</td>
                        <td>Especialidad</td>
                    </tr>
                </thead>
                <tbody>
                    {%for medico in medicos%}
                    <tr>
                        <td>{{medico.1}}</td>
                        <td>{{medico.2}}</td>
                        <td>
                            <a class="btn btn-danger btn-sm btn-delete"
                                href="/delete_med/{{medico.0}}">Eliminar</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container row pt-4">
        <div class="col-md-4">
            
            <h2 class="font-weight-bold ">
                Agregar nuevo horario cita
            </h2>
            <div class="card card-body">
                <form action="/add_cita" method="POST">
                    
                    <div class="form-group  ">
                        <select class="form-control" name="esp_cita" placeholder="Seleccionar la especialidad">
                            {%for medico in medicos%}
                            <option>{{medico.2}}-{{medico.1}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" name="dia_cita" placeholder="dia dd-mm-aaaa"
                            class="form-control">
                    </div>
                    <div class="form-group  ">
                        <select class="form-control" name="hora_cita" placeholder="Seleccionar la especialidad">
                            {%for hora in horas%}
                            <option>{{hora.1}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                    <tr>
                        <td>Medico</td>
                        <td>Especialidad</td>
                        <td>Dia</td>
                        <td>Hora</td>
                    </tr>
                </thead>
                <tbody>
                    {%for cita in citas%}
                    <tr>
                        <td>{{cita.1}}</td>
                        <td>{{cita.2}}</td>
                        <td>{{cita.3}}</td>
                        <td>{{cita.4}}</td>
                        <td>
                            <a class="btn btn-danger btn-sm btn-delete"
                                href="/delete_cita/{{cita.0}}">Eliminar</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>

</div>


{% endblock %}