{% extends "layout.html"%}

{% block body %}
<div>
    <div class="container">
        <h1 class="font-weight-bold titulo_1">
            Agenda tu cita
        </h1>
    </div>
</div>
<div class="container">
    <div class="col">

        <div class="col-md-8">
            <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                    <tr>
                        <td>Selecciona la Especilidad</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for especilidad in especialidades %}
                    <tr>
                        <td>{{especilidad.1}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="/cita1/{{especilidad.1}}">Seleccionar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}