{% extends "layout.html"%}

{% block body %}
<div>
    <div class="container">
        <h1 class="font-weight-bold titulo_1">
            Agenda tu cita
        </h1>
    </div>
</div>
<div class="container">
    <div class="col">
        <h2 class="font-weight-bold ">
            {{especialidad}}
        </h2>
        <h2 class="font-weight-bold ">
            {{medico}}
        </h2>
        <h2 class="font-weight-bold ">
            {{dia}}
        </h2>
        <h2 class="font-weight-bold ">
            {{hora}}
        </h2>
        <h2 class="font-weight-bold ">
            Ingrese sus datos
        </h2>
        
        <form action="/update/{{dia}}/{{hora}}/{{medico}}/{{especialidad}}" method="POST">
            <div class="form-group">
                <input type="text" class="form-control " name="nombre" placeholder="Nombre" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control " name="cedula" placeholder="Cedula" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control " name="telefono" placeholder="Telefono y/o celular" />
            </div>
            <div class="form-group">
                <input type="email" class="form-control " name="email" placeholder="Correo electrónico" />
            </div>
            <div>
                <textarea class="form-control " rows="5" name="mensaje" placeholder="Comentario adicional"></textarea>
            </div>

            <div class="form-group  ">
                <button type="submit" class="btn color_btn_1 text-white">ENVIAR</button>
            </div>

        </form>

        
    </div>
</div>

{% endblock %}