{% extends "layout.html"%}

{% block body %}
<div>
    <div class="container">
        <h1 class="font-weight-bold titulo_1">
            Agenda tu cita
        </h1>
    </div>
</div>
<div class="container">
    <div class="col">
        <h2 class="font-weight-bold ">
            {{especialidad}}
            
        </h2>
        <h2 class="font-weight-bold ">
            {{medico}}
            
        </h2>
        

        <div class="col-md-8">
            <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                    <tr>
                        <td>Seleccione la cita</td>
                        
                    </tr>
                    <tr>
                        <td>Dia</td>
                        <td>Hora</td>
                    </tr>
                </thead>
                <tbody>
                    {% for cita in citas %}
                    <tr>
                        <td>{{cita.3}}</td>
                        <td>{{cita.4}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" 
                            href="/cita3/{{cita.3}}/{{cita.4}}/{{medico}}/{{especialidad}}">
                            Seleccionar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}