{% extends "layout.html"%}

{% block body %}
<div>
    <div class="container">
        <h1 class="font-weight-bold titulo_1">
            Agenda tu cita
        </h1>
    </div>
</div>
<div class="container">
    <div class="col">
        <h2 class="font-weight-bold ">
            {{especialidad}}
        </h2>
        

        <div class="col-md-8">
            <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                    <tr>
                        <td>Seleccione el medico</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for medico in medicos %}
                    <tr>
                        <td>{{medico.1}}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" 
                            href="/cita2/{{medico.1}}/{{especialidad}}">
                                Seleccionar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}