<!DOCTYPE html>
<html lang="es">

    {% extends "layout.html"%}

    {% block body %}
    <div>
        <div class="container">
            <h1 class="font-weight-bold titulo_1">
                Contáctanos
            </h1>
        </div>
    </div>
    <div class="container form_contacto ">
        <div class="container" style="margin-top:3%">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="container">
                        <img src="../{{ url_for('static', filename='img/img_contacto.png' ) }}" class="rounded h-75 w-75" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group  ">
                        <select class="form-control" id="servicio" placeholder="Seleccionar el servicio">
                            <option>Seleccionar el servicio</option>
                            <option>Solicitud cambio de horario cita</option>
                            <option>Solicitud cambio de profesional cita</option>
                            <option>Queja y/o recurso</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control " id="nombre" placeholder="Nombre completo" required />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control " id="cc" placeholder="Ingrese su cedula" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control " id="telefono" placeholder="Telefono y/o celular" />
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control " id="email" placeholder="Correo electrónico" />
                    </div>
                    <div>
                        <textarea class="form-control " rows="5" id="mensaje" placeholder="Su mensaje"></textarea>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value=""> Acepto terminos y condiciones
                        </label>
                    </div>
                    <div class="btn_enviar p-1 ">
                        <button type="button" class="btn color_btn w-50 text-white" onclick="sendMail()">ENVIAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% endblock %}