{% extends "layout.html"%}

{% block body %}
    <div style="height: 20vh">
        <div class="container">
            <h1 class="font-weight-bold titulo_1 ">
                Nuestras especialidades
            </h1>
        </div>
    </div>
    <div class="container p-3 ">
        <div class="container row p-3">
            <div class="container col-sm-8">
                <div class="container row p-1">
                    <div class="container col">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp1">
                            Medicina general
                        </a>
                        <div class="modal" id="modalEsp1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Nuestras especialidades
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <article>
                                            <h2 class="titulo_1" style="font-size: 50px"><b>Medicina general</b></h2>
                                            <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                            <h3 class="texto_nosotros">Descripción</h3>
                                            <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                Minus possimus, labore, odio fugit quaerat, voluptatum
                                                nisi soluta deserunt facilis pariatur accusantium corporis
                                                laudantium odit culpa quae illo laborum error quos.
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                Minus possimus, labore, odio fugit quaerat, voluptatum
                                                nisi soluta deserunt facilis pariatur accusantium corporis
                                                laudantium odit culpa quae illo laborum error quos.</p>
                                        </article>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container col">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp2">
                            Cardiologia
                        </a>
                        <div class="modal" id="modalEsp2">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Nuestras especialidades
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <article>
                                            <h2 class="titulo_1" style="font-size: 50px"><b>Cardiologia </b></h2>
                                            <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                            <h3 class="texto_nosotros">Descripción</h3>
                                            <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                Minus possimus, labore, odio fugit quaerat, voluptatum
                                                nisi soluta deserunt facilis pariatur accusantium corporis
                                                laudantium odit culpa quae illo laborum error quos.
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                Minus possimus, labore, odio fugit quaerat, voluptatum
                                                nisi soluta deserunt facilis pariatur accusantium corporis
                                                laudantium odit culpa quae illo laborum error quos.</p>
                                        </article>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container col">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp3">
                            Reumatologia</a>
                            <div class="modal" id="modalEsp3">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                Nuestras especialidades
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <article>
                                                <h2 class="titulo_1" style="font-size: 50px"><b> Reumatologia</b></h2>
                                                <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                                <h3 class="texto_nosotros">Descripción</h3>
                                                <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.</p>
                                            </article>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="container row p-1">
                    <div class="container col ">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp4">
                            Ginecologia</a>
                            <div class="modal" id="modalEsp4">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                Nuestras especialidades
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <article>
                                                <h2 class="titulo_1" style="font-size: 50px"><b> Ginecologia</b></h2>
                                                <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                                <h3 class="texto_nosotros">Descripción</h3>
                                                <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.</p>
                                            </article>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="container col">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp5">
                            Radiologia</a>
                            <div class="modal" id="modalEsp5">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                Nuestras especialidades
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <article>
                                                <h2 class="titulo_1" style="font-size: 50px"><b> Radiologia</b></h2>
                                                <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                                <h3 class="texto_nosotros">Descripción</h3>
                                                <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.</p>
                                            </article>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="container col">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp6">
                            Odontologia</a>
                            <div class="modal" id="modalEsp6">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                Nuestras especialidades
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <article>
                                                <h2 class="titulo_1" style="font-size: 50px"><b> Odontologia</b></h2>
                                                <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                                <h3 class="texto_nosotros">Descripción</h3>
                                                <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.</p>
                                            </article>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="container row p-1">
                    <div class="container col ">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp7">
                            Pediatria</a>
                            <div class="modal" id="modalEsp7">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                Nuestras especialidades
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <article>
                                                <h2 class="titulo_1" style="font-size: 50px"><b>Pediatria </b></h2>
                                                <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                                <h3 class="texto_nosotros">Descripción</h3>
                                                <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.</p>
                                            </article>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="container col">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp8">
                            Oncologia</a>
                            <div class="modal" id="modalEsp8">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                Nuestras especialidades
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <article>
                                                <h2 class="titulo_1" style="font-size: 50px"><b>Oncologia</b></h2>
                                                <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                                <h3 class="texto_nosotros">Descripción</h3>
                                                <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.</p>
                                            </article>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="container col">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp9">
                            Dermatologia</a>
                            <div class="modal" id="modalEsp9">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                Nuestras especialidades
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <article>
                                                <h2 class="titulo_1" style="font-size: 50px"><b>Dermatologia</b></h2>
                                                <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                                <h3 class="texto_nosotros">Descripción</h3>
                                                <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.</p>
                                            </article>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="container row p-1">
                    <div class="container col ">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp10">
                            Neumologia</a>
                            <div class="modal" id="modalEsp10">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                Nuestras especialidades
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <article>
                                                <h2 class="titulo_1" style="font-size: 50px"><b>Neumologia</b></h2>
                                                <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                                <h3 class="texto_nosotros">Descripción</h3>
                                                <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.</p>
                                            </article>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="container col">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp11">
                            Endocrinologia</a>
                            <div class="modal" id="modalEsp11">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                Nuestras especialidades
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <article>
                                                <h2 class="titulo_1" style="font-size: 50px"><b> Endocrinologia</b></h2>
                                                <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                                <h3 class="texto_nosotros">Descripción</h3>
                                                <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.</p>
                                            </article>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="container col">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp12">
                            Otorrinolaringologia</a>
                            <div class="modal" id="modalEsp12">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                Nuestras especialidades
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <article>
                                                <h2 class="titulo_1" style="font-size: 50px"><b> Otorrinolaringologia</b></h2>
                                                <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                                <h3 class="texto_nosotros">Descripción</h3>
                                                <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.</p>
                                            </article>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="container row p-1">
                    <div class="container col ">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp13">
                            Oftalmologia</a>
                            <div class="modal" id="modalEsp13">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                Nuestras especialidades
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <article>
                                                <h2 class="titulo_1" style="font-size: 50px"><b> Oftalmologia</b></h2>
                                                <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                                <h3 class="texto_nosotros">Descripción</h3>
                                                <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.</p>
                                            </article>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="container col">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp14">
                            Psicologia</a>
                        <div class="modal" id="modalEsp14">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Nuestras especialidades
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <article>
                                            <h2 class="titulo_1" style="font-size: 50px"><b>Psicologia</b></h2>
                                            <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                            <h3 class="texto_nosotros">Descripción</h3>
                                            <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                Minus possimus, labore, odio fugit quaerat, voluptatum
                                                nisi soluta deserunt facilis pariatur accusantium corporis
                                                laudantium odit culpa quae illo laborum error quos.
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                Minus possimus, labore, odio fugit quaerat, voluptatum
                                                nisi soluta deserunt facilis pariatur accusantium corporis
                                                laudantium odit culpa quae illo laborum error quos.</p>
                                        </article>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container col">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp15">
                            Psiquiatria</a>
                        <div class="modal" id="modalEsp15">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Nuestras especialidades
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <article>
                                            <h2 class="titulo_1" style="font-size: 50px"><b>Psiquiatria</b></h2>
                                            <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                            <h3 class="texto_nosotros">Descripción</h3>
                                            <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                Minus possimus, labore, odio fugit quaerat, voluptatum
                                                nisi soluta deserunt facilis pariatur accusantium corporis
                                                laudantium odit culpa quae illo laborum error quos.
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                Minus possimus, labore, odio fugit quaerat, voluptatum
                                                nisi soluta deserunt facilis pariatur accusantium corporis
                                                laudantium odit culpa quae illo laborum error quos.</p>
                                        </article>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container row p-1">
                    <div class="container col ">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp16">
                            Urologia</a>
                            <div class="modal" id="modalEsp16">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                Nuestras especialidades
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <article>
                                                <h2 class="titulo_1" style="font-size: 50px"><b>Urologia</b></h2>
                                                <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                                <h3 class="texto_nosotros">Descripción</h3>
                                                <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                    Minus possimus, labore, odio fugit quaerat, voluptatum
                                                    nisi soluta deserunt facilis pariatur accusantium corporis
                                                    laudantium odit culpa quae illo laborum error quos.</p>
                                            </article>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="container col">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp17">
                            Geriatria</a>
                        <div class="modal" id="modalEsp17">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Nuestras especialidades
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <article>
                                            <h2 class="titulo_1" style="font-size: 50px"><b>Geriatria</b></h2>
                                            <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                            <h3 class="texto_nosotros">Descripción</h3>
                                            <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                Minus possimus, labore, odio fugit quaerat, voluptatum
                                                nisi soluta deserunt facilis pariatur accusantium corporis
                                                laudantium odit culpa quae illo laborum error quos.
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                Minus possimus, labore, odio fugit quaerat, voluptatum
                                                nisi soluta deserunt facilis pariatur accusantium corporis
                                                laudantium odit culpa quae illo laborum error quos.</p>
                                        </article>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container col ">
                        <a type="button" class="btn color_btn_1 text-white btn_esp" data-toggle="modal"
                            data-target="#modalEsp18">
                            Deportologia</a>
                        <div class="modal" id="modalEsp18">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Nuestras especialidades
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <article>
                                            <h2 class="titulo_1" style="font-size: 50px"><b>Deportologia</b></h2>
                                            <img clas="modal-image" src="{{ url_for('static', filename='img/img_modal_1.png' ) }}">
                                            <h3 class="texto_nosotros">Descripción</h3>
                                            <p class="descripcion-modal" style="text-align: justify; color: black;">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                Minus possimus, labore, odio fugit quaerat, voluptatum
                                                nisi soluta deserunt facilis pariatur accusantium corporis
                                                laudantium odit culpa quae illo laborum error quos.
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                Minus possimus, labore, odio fugit quaerat, voluptatum
                                                nisi soluta deserunt facilis pariatur accusantium corporis
                                                laudantium odit culpa quae illo laborum error quos.</p>
                                        </article>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="container col-sm-4">
                <img src="{{ url_for('static', filename='img/img_especialidades.png' ) }}" class="rounded img_esp"  />
            </div>
        </div>
    </div>

    {% endblock %}