{% extends "layout.html"%}

{% block body %}
{% with messages = get_flashed_messages()%}
        {% if messages%}
        {% for message in messages%}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
<div class="container">
    <div class="container">
        <div class="contenedor w-100 ">
            <img src="{{ url_for('static', filename='img/img_inicio_1.png' ) }}" class="rounded w-100" />
            <div>
                <h1 class="titulo_img_1 font-weight-bold">Mi cita <br />medica</h1>
            </div>

        </div>
    </div>

    <div class="container p-3">
        <div class="container w-50">

            <a href="/cita" type="button" class="btn texto_btn_agenda btn_agenda color_btn w-100 p-0">
                <img src="{{ url_for('static', filename='img/calendario_inicio.png' ) }}" class="rounded" />
                Agenda tu cita</a>
        </div>
    </div>

    <div class="container p-3">
        <div class="container row " style="margin-left: 0px;">
            <div class="container col">
                <a href="/especialidades" style="text-decoration: none;">
                    <div class="container btn_navegacion text-white">
                        <div class="row p-3">
                            <img src="{{ url_for('static', filename='img/ico_corazon.png' ) }}" class="rounded" style="display: block;margin: auto;" />
                        </div>
                        <div class="row">
                            <h3 class="w-100 text-center" style="display: block;margin: auto;">
                                Nuestras <br />especialidades
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container col">
                <a href="/plataforma" style="text-decoration: none;">
                    <div class="container btn_navegacion text-white">
                        <div class="row p-3">
                            <img src="{{ url_for('static', filename='img/ico_plataforma.png' ) }}" class="rounded "
                                style="display: block;margin: auto;" />
                        </div>
                        <div class="row">
                            <h3 class="w-100 text-center" style="display: block;margin: auto;">
                                Nuestra <br />plataforma
                            </h3>
                        </div>

                    </div>

                </a>
            </div>

            <div class="container col">
                <a href="/medicos" style="text-decoration: none;">
                    <div class="container btn_navegacion text-white">
                        <div class="row p-3">
                            <img src="{{ url_for('static', filename='img/ico_medico.png' ) }}" class="rounded" style="display: block;margin: auto;" />
                        </div>
                        <div class="row">
                            <h3 class="w-100 text-center" style="display: block;margin: auto;">
                                Nuestros <br />medicos
                            </h3>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>

{% endblock %}