<!DOCTYPE html>
<html lang="en">

<head>

    <title>Mi Cita Medica</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css' ) }}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="{{ url_for('static', filename='js/script.js' ) }}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_LR0zt3iFMCU909EIYvilh");
        })();
    </script>

</head>

<body>
    <header class="color_celeste ">
        <div class="w3-bar texto_menu menu_ini">
            <a href="/" class="w3-bar-item w3-mobile"><i class="fa fa-home fa-2x w-100"></i></a>
            <a href="/nosotros" class="w3-bar-item w3-mobile menu_link p-3" style="width: 15%;">Nosotros</a>
            <a href="/contacto" class="w3-bar-item w3-mobile menu_link p-3" style="width: 15%;">Contacto</a>
            <a href="/medicos" class="w3-bar-item w3-mobile menu_link p-3" style="width: 15%;">Medicos</a>
            <a href="/especialidades" class="w3-bar-item w3-mobile menu_link p-3" style="width: 15%;">Especialidades</a>
            <a href="/plataforma" class="w3-bar-item w3-mobile menu_link p-3" style="width: 15%;">Plataforma</a>
            <a href="/admin" class="w3-bar-item w3-mobile menu_link p-3" style="width: 15%;">Administrador</a>
        
        </div>
    </header>
    <div class="container pt-4">
        {% block body %}
        {% endblock %}
    </div>
    <footer class="color_celeste sticky-bottom">
        <div class="container ">
            <div class="row">
                <div class="col-sm-2 texto_menu texto_footer">
                    <p>Mi cita medica</p>
                </div>
                <div class="col-sm-10 ">
                    <div class="row justify-content-end">
                        <img src="{{ url_for('static', filename='img/footer_uis.png' ) }}" class="rounded h-100 " />
                        <img src="{{ url_for('static', filename='img/footer_mintic1.png' ) }}"
                            class="rounded h-100 p-2" />
                        <img src="{{ url_for('static', filename='img/footer_misiontic.png') }}"
                            class="rounded h-100 p-2" />
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>