{% extends "layout.html"%}

{% block body %}
    <div>
        <div class="container">
            <h1 class="font-weight-bold titulo_1">
                Nuestros medicos
            </h1>
        </div>
    </div>
    <div class="container ">
        <div class="container row">
            <div class="container col">
                <div class="container row ">
                    <div class="row ">
                        <img src="{{ url_for('static', filename='img/img_doc_1.png' ) }}" class="rounded " />
                    </div>
                    <div class="row ">
                        <h3 class="texto_nosotros">nombre<br />Especialidad</h3>
                    </div>
                </div>
                <div class="container row ">
                    <div class="row ">
                        <img src="{{ url_for('static', filename='img/img_doc_2.png' ) }}" class="rounded " />
                    </div>
                    <div class="row ">
                        <h3 class="texto_nosotros">nombre<br />Especialidad</h3>
                    </div>
                </div>
                <div class="container row ">
                    <div class="row ">
                        <img src="{{ url_for('static', filename='img/img_doc_3.png' ) }}" class="rounded " />
                    </div>
                    <div class="row ">
                        <h3 class="texto_nosotros">nombre<br />Especialidad</h3>
                    </div>
                </div>
            </div>
            <div class="container col">
                <div class="container row ">
                    <div class="row ">
                        <img src="{{ url_for('static', filename='img/img_doc_4.png' ) }}" class="rounded " />
                    </div>
                    <div class="row ">
                        <h3 class="texto_nosotros">nombre<br />Especialidad</h3>
                    </div>
                </div>
                <div class="container row ">
                    <div class="row ">
                        <img src="{{ url_for('static', filename='img/img_doc_5.png' ) }}" class="rounded " />
                    </div>
                    <div class="row ">
                        <h3 class="texto_nosotros">nombre<br />Especialidad</h3>
                    </div>
                </div>
                <div class="container row ">
                    <div class="row ">
                        <img src="{{ url_for('static', filename='img/img_doc_6.png' ) }}" class="rounded " />
                    </div>
                    <div class="row ">
                        <h3 class="texto_nosotros">nombre<br />Especialidad</h3>
                    </div>
                </div>
            </div>
            <div class="container col">
                <div class="container row ">
                    <div class="row ">
                        <img src="{{ url_for('static', filename='img/img_doc_7.png' ) }}" class="rounded " />
                    </div>
                    <div class="row ">
                        <h3 class="texto_nosotros">nombre<br />Especialidad</h3>
                    </div>
                </div>
                <div class="container row ">
                    <div class="row ">
                        <img src="{{ url_for('static', filename='img/img_doc_8.png' ) }}" class="rounded " />
                    </div>
                    <div class="row ">
                        <h3 class="texto_nosotros">nombre<br />Especialidad</h3>
                    </div>
                </div>
                <div class="container row ">
                    <div class="row ">
                        <img src="{{ url_for('static', filename='img/img_doc_9.png' ) }}" class="rounded " />
                    </div>
                    <div class="row ">
                        <h3 class="texto_nosotros">nombre<br />Especialidad</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% endblock %}