{% extends "layout.html"%}

{% block body %}

    <div class="container ">
        <div class="contenedor w-100 p-1">
            <img src="{{ url_for('static', filename='img/img_nosotros_1.png' ) }}" class="rounded w-100" />
            <div>
                <h1 class="titulo_img_1 font-weight-bold ">Nosotros</h1>
            </div>

        </div>
    </div>
    <div class="container ">
        <div class="contenedor w-100 p-3">
            <p class="texto_nosotros ">
                Somos un equipo de estudiantes, pertenecemos al programa de MisionTic 2022 en la
                Universidad Industrial de Santander, estamos comprometidos con la generación de
                nuevos talentos en el mundo digital. <br><br>
                Esta aplicación está pensada en optimizar la atención médica virtual en esta nueva
                realidad, que la experiencia para el profesional y para el paciente, sea lo más
                cercana posible a una atención presencial, facilitando la adquisición de medicamentos,
                programación de citas y el acceso a exámenes.
            </p>
        </div>
    </div>
    <div class="container ">
        <div class="container row">
            
            <div class="container col">
                <img src="{{ url_for('static', filename='img/img_p1.png' ) }}" class="rounded w-100" />
                <h3 class="texto_nosotros w-100">Cristian Camilo Cabrera <br> Ingeniero civil</h3>
            </div>
            
            <div class="container col">
                <img src="{{ url_for('static', filename='img/img_p.png' ) }}" class="rounded w-100" />
                <h3 class="texto_nosotros w-100">Sebastian Colmenares Garcia <br> Ingeniero electronico</h3>
            </div>
            <div class="container col">
                <img src="{{ url_for('static', filename='img/img_p2.png' ) }}" class="rounded w-100" />
                <h3 class="texto_nosotros w-100">Daniela Beltrán Dorado <br> Ingeniera de petroleos</h3>
            </div>
            <div class="container col">
                <img src="{{ url_for('static', filename='img/img_p.png' ) }}" class="rounded w-100" />
                <h3 class="texto_nosotros w-100">Nombre Apellido Apellido <br> titulo profesional</h3>
            </div>
            <div class="container col">
                <img src="{{ url_for('static', filename='img/img_p.png' ) }}" class="rounded w-100" />
                <h3 class="texto_nosotros w-100">Nombre Apellido Apellido <br> titulo profesional</h3>
            </div>

        </div>
    </div>
    {% endblock %}