{% extends "layout.html"%}

{% block body %}

    <div>
        <div class="container p-1">
            <h1 class="font-weight-bold titulo_1">
                Contáctanos
            </h1>
        </div>
    </div>
    <div class="container">
        <div class="container" style="margin-top:3%">
            <div class="row">
                <div class="col-sm-6 justify-content-md-center">
                    <div class="container">
                        <img src="{{ url_for('static', filename='img/img_plataforma.png' ) }}" class="rounded img_pla" />
                    </div>
                </div>
                <div class="col-sm-6 ">

                    <div class="contenedor w-100 p-3">
                        <p class="texto_nosotros ">
                            Utilizamos Zoom como nuestra plataforma aliada,
                            el link de conexión llegará directamente a tu correo en cuanto agendes tu consulta.
                            Solo debes darle click y nuestro profesional estará a tento a tu conexión.
                            Si quieres revisar un tutorial antes de tu cita médica, por favor haz click en “Tutorial”.
                        </p>
                    </div>


                    <div class="btn_enviar p-3" style="text-align: center;">
                        <a type="button" class="btn color_btn w-50 text-white">TUTORIAL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% endblock %}